*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
/*	overflow: hidden;*/
}
/*#main
{
	display: grid;
	grid-template-columns: 7fr 1fr;
}*/
#main-con
{
	width: 75%;
	height: 590px;
	background-image: linear-gradient(to right,#e6ecff,#809fff);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50vh;
}
#image
{
	margin-top: 50px;
	margin-left: 200px;
}
img
{
	width: 100px;
	height: 100px;
	border-radius: 30%;
}
#heading
{
margin-left: 200px;
margin-right: 150px;
letter-spacing: 1px;
}
#h1
{
	margin-bottom: 20px;
}
#form-layout
{
	width: 350px;
	height: 350px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 3px 20px 1px aquamarine;

	position: relative;
	left: 800px;
	bottom: 300px;

	display: flex;
	justify-content: center;
	align-content: center;
}

#value-label
{
	display: flex;
	justify-content: center;
	align-content: center;

	font-size: 25px;
	font-weight: bold;

	margin-top: 20px;

}
#height,#weight
{
	width: 80%;
	height: 40px;
	border-radius: 10px;
	border: 1px solid black;

	margin-left: 20px;
	margin-top: 20px;
}
#bmi
{
	width: 80%;
	height: 40px;
	text-align: center;
	background-color: aqua;
	border: 0px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;

	margin-top: 30px;
	margin-left: 20px;

}